<footer class="py-3">
    <div class="container text-center">

        <p>
            <a href="@Url.Action("About", "Home")" style="color: black; text-decoration: none;">About Readly</a>
        </p>
        <p>
            <a href="@Url.Action("Terms", "Home")" style="color: black; text-decoration: none;">Terms & Conditions</a> |
            <a href="@Url.Action("Privacy", "Home")" style="color: black; text-decoration: none;">Privacy Policy</a>
        </p>
        <p>
            <a href="@Url.Action("Contact", "Home")" style="color: black; text-decoration: none;">Contact Us</a> |
            <a href="@Url.Action("Donate", "Home")" style="color: black; text-decoration: none;">Donate Us</a>
        </p>
        <p>
            <span>Connect with Readly: </span>
            <a><img src="@Url.Content("~/Content/image/facebook.png")" alt="Facebook Image"></a>
            <a><img src="@Url.Content("~/Content/image/instagram.png")" alt="Instagram Image"></a>
            <a><img src="@Url.Content("~/Content/image/linkedin.png")" alt="Linkedin image"></a>
            <a><img src="@Url.Content("~/Content/image/x.png")" alt="x Image"></a>
        </p>
        <p>© @DateTime.Now.Year Readly. All Rights Reserved.</p>
    </div>
</footer>